# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# VSCode
.vscode/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
chroma_store/

# Env
.env.*

# Easy
Easy/